@model TeknikServis.Models.ViewModels.UpdateProfilePasswordViewModel
@{
    ViewBag.Title = "MyProfile";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}






@section css
	{

    <link rel="stylesheet" href="~/assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="~/Admin1/assets/libs/select2/dist/css/select2.min.css">
    <link href="~/Admin1/dist/css/style.min.css" rel="stylesheet">
}

<div class="preloader">
    <div class="lds-ripple">
        <div class="lds-pos"></div>
        <div class="lds-pos"></div>
    </div>
</div>

<div style="height:650px" class="container-fluid">
        @*<h5 style="margin-left:305px;padding-bottom:20px">@Html.ValidationSummary()</h5>*@
        <h5 style="margin-left:305px;padding-bottom:20px">@TempData["Message"]</h5>
   
    <div class="row">

        <div class="col-md-6">
            @using (Html.BeginForm("ChangeProfile", "MyProfile", FormMethod.Post, new { @class = "form-horizontal" }))
            {

                <div style="border:none" class="card">
                    <div class="card-body">
                        <div class="row">
                            <h5 style="margin-left:305px;padding-bottom:20px">Profil Bilgileri</h5>
                        </div>
                        <div class="form-group row">
                            @Html.LabelFor(x => x.ProfileViewModel.UserName, new { @class = "col-sm-3 text-right control-label col-form-label" })
                            <div class="col-sm-9">
                                @Html.TextBoxFor(x => x.ProfileViewModel.UserName, new { @class = "form-control", @placeholder = "Kullanıcı Adınızı Giriniz" })
                                @Html.ValidationMessageFor(x=>x.ProfileViewModel.UserName, "" , new {@class="text-danger" })
                            </div>
                        </div>
                        <div class="form-group row">
                            @Html.LabelFor(x => x.ProfileViewModel.Email, new { @class = "col-sm-3 text-right control-label col-form-label" })
                            <div class="col-sm-9">
                                @Html.TextBoxFor(x => x.ProfileViewModel.Email, new { @class = "form-control", @placeholder = "Email Adresinizi Giriniz", @type = "email" })
                                @Html.ValidationMessageFor(x => x.ProfileViewModel.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group row">
                            @Html.LabelFor(x => x.ProfileViewModel.PhoneNumber, new { @class = "col-sm-3 text-right control-label col-form-label" })
                            <div class="col-sm-9">
                                @Html.TextBoxFor(x => x.ProfileViewModel.PhoneNumber, new { @class = "form-control", @placeholder = "Telefon Numaranızı Giriniz" })
                                @Html.ValidationMessageFor(x => x.ProfileViewModel.PhoneNumber, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="card-body">
                            <button style="width:500px;margin-left:80px" type="submit" class="btn btn-primary btn-block">Kaydet</button>
                        </div>

                    </div>
                </div>


            }
        </div>
        <div class="col-md-6">
            @using (Html.BeginForm("ChangePassword", "MyProfile", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                <div style="border:none" class="card">
                    <div class="card-body">
                        <h5 style="margin-left:305px;padding-bottom:20px">Şifre Bilgileri</h5>
                        <div class="form-group row">
                            @Html.LabelFor(x => x.PasswordViewModel.OldPassword, new { @class = "col-sm-3 text-right control-label col-form-label" })
                            @Html.ValidationMessageFor(x => x.PasswordViewModel.OldPassword, "", new { @class = "text-danger" })
                            <div class="col-sm-9">
                                @Html.TextBoxFor(x => x.PasswordViewModel.OldPassword, new { @class = "form-control", @placeholder = "Şifrenizi  Giriniz", @type = "password" })
                            </div>
                        </div>
                        <div class="form-group row">
                            @Html.LabelFor(x => x.PasswordViewModel.NewPassword, new { @class = "col-sm-3 text-right control-label col-form-label" })
                            <div class="col-sm-9">
                                @Html.TextBoxFor(x => x.PasswordViewModel.NewPassword, new { @class = "form-control", @placeholder = "Şifrenizi  Giriniz", @type = "password" })
                                @Html.ValidationMessageFor(x => x.PasswordViewModel.NewPassword, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group row">
                            @Html.LabelFor(x => x.PasswordViewModel.ConfirmNewPassword, new { @class = "col-sm-3 text-right control-label col-form-label" })
                            <div class="col-sm-9">
                                @Html.TextBoxFor(x => x.PasswordViewModel.ConfirmNewPassword, new { @class = "form-control", @placeholder = "Şifrenizi  Giriniz", @type = "password" })
                                @Html.ValidationMessageFor(x => x.PasswordViewModel.ConfirmNewPassword, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="card-body">
                            <button style="width:500px;margin-left:80px" type="submit" class="btn btn-primary btn-block">Kaydet</button>
                        </div>
                    </div>

                </div>


            }
        </div>

    </div>






</div>

@section scripts {


    <script src="~/assets/js/vendor/jquery-2.2.4.min.js"></script>
    <script src="~/assets/js/vendor/bootstrap-4.1.3.min.js"></script>
    <script src="~/assets/js/vendor/wow.min.js"></script>
    <script src="~/assets/js/vendor/owl-carousel.min.js"></script>
    <script src="~/assets/js/vendor/jquery.nice-select.min.js"></script>
    <script src="~/assets/js/vendor/ion.rangeSlider.js"></script>
    <script src="~/assets/js/main.js"></script>


    <!-- This Page JS -->
    <script src="~/Admin1/assets/libs/inputmask/dist/min/jquery.inputmask.bundle.min.js"></script>
    <script src="~/Admin1/dist/js/pages/mask/mask.init.js"></script>
    <script src="~/Admin1/assets/libs/select2/dist/js/select2.full.min.js"></script>
    <script src="~/Admin1/assets/libs/select2/dist/js/select2.min.js"></script>
    <script src="~/Admin1/assets/libs/jquery-asColor/dist/jquery-asColor.min.js"></script>
    <script src="~/Admin1/assets/libs/jquery-asGradient/dist/jquery-asGradient.js"></script>
    <script src="~/Admin1/assets/libs/jquery-asColorPicker/dist/jquery-asColorPicker.min.js"></script>
    <script src="~/Admin1/assets/libs/jquery-minicolors/jquery.minicolors.min.js"></script>
    <script src="~/Admin1/assets/libs/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <script src="~/Admin1/assets/libs/quill/dist/quill.min.js"></script>




}


