
@model List<TeknikServis.Models.Entities.Malfunction>
@{
    ViewBag.Title = "Malfunctions";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var malfunctions = ViewBag.Malfunctions;
}


@section css{


    <link href="~/Admin1/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/Admin1/assets/extra-libs/multicheck/multicheck.css">
    <link rel="stylesheet" href="~/assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="~/Admin1/assets/libs/select2/dist/css/select2.min.css">
    @*<link href="~/Admin1/dist/css/style.min.css" rel="stylesheet">*@



    <style>
        a.btn:hover, .btn-warning:hover {
            -webkit-transform: scale(1.1);
            -moz-transform: scale(1.1);
            -o-transform: scale(1.1);
        }

        a.btn, .btn-warning {
            -webkit-transform: scale(0.8);
            -moz-transform: scale(0.8);
            -o-transform: scale(0.8);
            -webkit-transition-duration: 0.5s;
            -moz-transition-duration: 0.5s;
            -o-transition-duration: 0.5s;
        }
    </style>






}

<h5>@Html.ValidationSummary()</h5>

<table id="example" class="table table-striped table-bordered" style="width:100%">
    <thead>

        <tr>
            <th>#</th>
            <th>tip</th>
            <th>marka</th>
            <th>fotograf</th>
            <th>message</th>
        </tr>
    </thead>
    <tbody>

        @for (int i = 0; i < malfunctions.Count; i++)
        {

            <tr>
                <td>@(i + 1)</td>
                <td>@malfunctions.Type</td>
                <td>@malfunctions.BrandType</td>
                <td>@malfunctions.avatarPath</td>
                <td>@malfunctions.Message</td>
                <td>
                    <button name="@Model[i].Id" class="btn btn-warning a-btn-slide-text">Edit</button>
                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                    <div class="modal fade" id="myModal" role="dialog" data-url='@Url.Action("EditModal", "Admin")'>
                    </div>
                </td>
                <td>
                    <a href="@Url.Action("DeleteUsers","Admin",new{id=@Model[i].Id})" class="btn btn-danger a-btn-slide-text">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        <span><strong>Delete</strong></span>
                    </a>
                </td>



            </tr>


        }


    </tbody>

</table>


@section scripts{
    <script src="~/assets/js/vendor/jquery-2.2.4.min.js"></script>
    <script src="~/assets/js/vendor/bootstrap-4.1.3.min.js"></script>
    <script src="~/assets/js/vendor/wow.min.js"></script>
    <script src="~/assets/js/vendor/owl-carousel.min.js"></script>
    <script src="~/assets/js/vendor/jquery.nice-select.min.js"></script>
    <script src="~/assets/js/vendor/ion.rangeSlider.js"></script>
    <script src="~/assets/js/main.js"></script>

    <!-- This Page JS -->
    <script src="~/Admin1/assets/libs/inputmask/dist/min/jquery.inputmask.bundle.min.js"></script>
    <script src="~/Admin1/dist/js/pages/mask/mask.init.js"></script>
    <script src="~/Admin1/assets/libs/select2/dist/js/select2.full.min.js"></script>
    <script src="~/Admin1/assets/libs/select2/dist/js/select2.min.js"></script>
    <script src="~/Admin1/assets/libs/jquery-asColor/dist/jquery-asColor.min.js"></script>
    <script src="~/Admin1/assets/libs/jquery-asGradient/dist/jquery-asGradient.js"></script>
    <script src="~/Admin1/assets/libs/jquery-asColorPicker/dist/jquery-asColorPicker.min.js"></script>
    <script src="~/Admin1/assets/libs/jquery-minicolors/jquery.minicolors.min.js"></script>
    <script src="~/Admin1/assets/libs/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <script src="~/Admin1/assets/libs/quill/dist/quill.min.js"></script>

    <script>

        $(".select2").select2();


        $(document).ready(function () {

            $("#country").change(function () {

                var a = $(this).val();

                $("#city").empty();

                if (a == "TR") {

                    var v;
                    v += "<option>Edirne</option>";
                    v += "<option>Kırklareli</option>";

                    $("#city").html(v);
                } else if (a == "ALM") {
                    var v;
                    v += "<option>Munich</option>";
                    v += "<option>Berlin</option>";
                    $("#city").html(v);

                } else if (a == "ING") {
                    var v;
                    v += "<option>Londra</option>";
                    v += "<option>Manchester</option>";
                    $("#city").html(v);

                } else if (a == "ITL") {
                    var v;
                    v += "<option>Milano</option>";
                    v += "<option>Roma</option>";
                    $("#city").html(v);

                } else if (a == "AB") {
                    var v;
                    v += "<option>Massachussetts</option>";
                    v += "<option>Nebraska</option>";
                    $("#city").html(v);

                }
            });

        });

        $(function () {
            $('.datepicker').datepicker({
                startDate: '-3d'
            });
        });

    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script type="text/javascript">

        $(document).ready(function () {
            $(".btn-warning").click(function () {

                var id = this.name;


                var url = $("#myModal").data("url");
                url += "/" + id;

                $.get(url,
                    function (data) {
                        console.log(data);
                        $("#myModal").html(data);
                        $("#myModal").modal("show");
                    });
            });

        });

    </script>

    <script src="~/Admin1/assets/libs/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="~/Admin1/assets/libs/popper.js/dist/umd/popper.min.js"></script>
    <script src="~/Admin1/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="~/Admin1/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
    <script src="~/Admin1/assets/extra-libs/sparkline/sparkline.js"></script>
    <!--Wave Effects -->
    <script src="~/Admin1/dist/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="~/Admin1/dist/js/sidebarmenu.js"></script>
    <!--Custom JavaScript -->
    <script src="~/Admin1/dist/js/custom.min.js"></script>
    <!-- this page js -->
    <script src="~/Admin1/assets/extra-libs/multicheck/datatable-checkbox-init.js"></script>
    <script src="~/Admin1/assets/extra-libs/multicheck/jquery.multicheck.js"></script>
    <script src="~/Admin1/assets/extra-libs/DataTables/datatables.min.js"></script>

    <script>
        $('#zero_config').DataTable();
    </script>


}
